* {
	box-sizing: border-box;
	font-size: 16px;
}

h1{
	margin-bottom: 15 px;
	text-align: center;
	font-size: 175%;
}


.nombre{
	position: absolute;
	top: 0px;
	right: 0;
	padding: 5px 5px 5px 5px;
	margin: 0px;
	width: 150px;
	text-align: center;
	border: 1px solid black;
	font-style: italic;
	font-weight: bold;
	font-size: 125%;
}


p{
	margin-top: 30px;
	color: beige;
}

.row {
	width: 100%;
}

#caja1, #caja2, #caja3 {
	position: relative;
	border:1px solid black;
	padding: 10px;
	margin: 10px 40px 10px 40px;
	background-color: grey
}


#caja1 .nombre{
	background: blue;
	color: yellow;
}

#caja2 .nombre{
	background: pink;
	color: green;
}

#caja3 .nombre{
	background: brown;
	color: beige;
}


@media (min-width: 992px){
	.col-d-3{
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-t-2{
		float: left;
		width: 50%;
	}

	.col-t-1{
		clear: both;
		width: 100%;

	}
}

@media (max-width: 767px){
	.col-m-1{
		float: left;
		width: 100%;
	}
}